/* Variables */

$margin: 90px;

$background: #252827;

$color-primary: rgb(66, 152, 195);
$color-light: rgb(255,255,255);
$spacing: 50px;
$radius: 4px;

$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 4px;

.wp-block-geb-block-timeline {
  background-color: $background;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 3.5em 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  border-top: 4px solid rebeccapurple;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  position: relative;
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  text-align: center;
  color: #FFF;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  position: absolute;
  bottom: 1em;
  white-space: nowrap;
  overflow: hidden;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  border: 1px solid rebeccapurple;
  cursor: pointer;
  background-color: transparent;
  z-index: 10;
  font-family: dashicons;
  color: rebeccapurple;
  font-weight: 600;
  line-height: 0
}
.slick-arrow.slick-prev {
  left: 40%;
  &:before {
    content: "\f341";
    font-weight: 900;
  }
}
.slick-arrow.slick-next {
  right: 40%;
  &:before {
    content: "\f345";
    font-weight: 900;
  }
}

.event {
  position: relative;
  &:before {
    content: '';
    width: 25px;
    height: 25px;
    border: 2px solid rebeccapurple;
    background-color: white;
    display: block;
    border-radius: 100%;
    margin: 0 auto;
    top: -14px;
    position: relative;
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    border-top: 4px solid lightseagreen;
    position: absolute;
    top: -4px;
    z-index: -1;
  }
  &.accomplished:before {
    border-top: 10px solid rebeccapurple;
  }
  &.accomplished:after {
    border-top: 0;
  }
  .event-date {
    display: block;
    position: absolute;
    top: -3em;
    width: 100%;
    text-align: center;
  }
}

.event.checked {
  border-top: 4px solid green;
  position: relative;
  top: -4px;
}