/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  &:after {
    position: absolute;
    content: '';
    top: 24%;
    bottom: 73%;
    right: 0;
    width: 10%;
    z-index: 7;
    background-image: linear-gradient(90deg, transparent 0%, rgba(68, 68, 68, 0.4) 25%, rgba(51, 51, 51, 0.5) 60%, rgba(34, 34, 34, 0.6) 100%);
  }
}

.slick-list {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 3.5em 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  border-top: 4px solid #5b77a3;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  position: relative;
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  text-align: center;
  color: #FFF;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  position: absolute;
  bottom: 1em;
  white-space: nowrap;
  overflow: hidden;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  border: 1px solid rebeccapurple;
  cursor: pointer;
  background-color: transparent;
  z-index: 10;
  font-family: dashicons;
  color: rebeccapurple;
  font-weight: 600;
  line-height: 0
}
.slick-arrow.slick-prev {
  left: 40%;
  &:before {
    content: "\f341";
    font-weight: 900;
  }
}
.slick-arrow.slick-next {
  right: 40%;
  &:before {
    content: "\f345";
    font-weight: 900;
  }
}

.event {
  position: relative;
  &:before {
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid #5b77a3;
    background-color: #0f1932;
    display: block;
    border-radius: 100%;
    margin: 0 auto;
    top: -10px;
    position: relative;
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    border-top: 4px solid #5b77a3;
    position: absolute;
    top: -4px;
    z-index: -1;
  }
  &.accomplished {
    &:before {
      width: 25px;
      height: 25px;
      border: 4px solid white;
      background-color: rebeccapurple;
      top: -14px;
    }
  }
  &.accomplished:after {
    border: 2px solid rebeccapurple;
  }
  &.running:before {
    box-shadow: 0 0 0 12px rgba(255,255,255,0.1);
    animation: scaleAnimation 2s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &.running:after {
    border-color: rebeccapurple;
    width: 50%;
  }
  .event-date {
    display: block;
    position: absolute;
    top: -3em;
    width: 100%;
    text-align: center;
  }
  .rocket-icon {
    display: block;
    width: 60px;
    height: 60px;
    transform: rotate(45deg);
    background: url("images/startup.svg") no-repeat center;
    background-size: 35px;
    position: absolute;
    top: -32px;
    left: 3em;
    z-index: 5;
  }
}
.event.checked {
  border-top: 4px solid green;
  position: relative;
  top: -4px;
}

@keyframes scaleAnimation {
  0%, 100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  }
  30%, 50% {
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.1);
  }
}
