/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-chart-pie {
  color: $black;
  margin: 0 auto;
  max-width: 740px;
}
.wp-block-cgb-block-chart-pie .item-list .item {
  border: 0.1rem solid $black;
  padding: 2rem;
  margin: 0.5rem auto;
}
