/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-chart-pie {
  color: $black;
  margin: 0 auto;
  max-width: 740px;
}

.wp-block-cgb-block-chart-pie .item-list .item {
  border: 0.1rem solid $black;
  padding: 2rem;
  margin: 0.5rem auto;
}